@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@theme {
  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px); */

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
}

:root {

  /* Font Family */
  --font-helvetica: 'Helvetica', 'Arial', sans-serif;
  --font-inter: 'Inter', 'Helvetica',sans-serif;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-2xl: 3.5rem;
  --spacing-3xl: 5rem;
  --spacing-4xl: 7rem;
  

  /* Primary */
  --primary: #623A9C;
  --on-primary: #FFFFFF;
  --primary-container: #BA9CE8;
  --on-primary-container: #1A0933;

  /* Secondary */
  --secondary: #321958;
  --on-secondary: #FFFFFF;
  --secondary-container: #C6B1E6;
  --on-secondary-container: #1D0E33;

  /* Tertiary */
  --tertiary: #35264A;
  --on-tertiary: #FFFFFF;
  --tertiary-container: #D1C7E1;
  --on-tertiary-container: #251A33;

  /* Surface */
  --surface: #f9f6fd;
  --on-surface: #211929;
  --on-surface-variant: #4F455F;
  --surface-container-lowest: #F9F8FC;
  --surface-container-low: #F4F0FA;
  --surface-container: #EEE8F7;
  --surface-container-high: #E9E1F4;
  --surface-container-highest: #E3DAF1;

  /* Outline */
  --outline: #493C5D;
  --outline-variant: #8E82A1;

  /* Radius */
  --radius: 0.875rem;
}

.dark {
  /* Primary */
  --primary: #B28CEB;
  --on-primary: #270E4C;
  --primary-container: #341266;
  --on-primary-container: #C2AAE6;

  /* Secondary */
  --secondary: #C2A7EC;
  --on-secondary: #2C154C;
  --secondary-container: #40305A;
  --on-secondary-container: #C6B1E6;

  /* Tertiary */
  --tertiary: #CFBFE3;
  --on-tertiary: #37274C;
  --tertiary-container: #524464;
  --on-tertiary-container: #D1C2E6;

  /* Surface */
  --surface: #2E2833;
  --on-surface: #F5F4F5;
  --on-surface-variant: #D8CFE7;
  --surface-container-lowest: #332D39;
  --surface-container-low: #38313F;
  --surface-container: #3D3645;
  --surface-container-high: #423B4A;
  --surface-container-highest: #473F50;

  /* Outline */
  --outline: #A494BF;
  --outline-variant: #6B5690;
}

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }

  html {
    font-size: 16px;
  }

  body {
    /* @apply bg-background text-foreground; */
  }

  /* Fonts */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: -1%;
    margin: 0;
  }

  p {
    font-family: 'Inter', 'Helvetica', sans-serif;
    margin: 0;
  }

  /* Mobile-first base sizes */
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.25rem; }
  h4 { font-size: 1.25rem; }
  /* h5 { font-size: 1rem; }
  h6 { font-size: 0.875rem; } */
  p  { font-size: 0.875rem; }

  /* Tablet (md) */
  @media (min-width: 800px) and (max-width: 1279px) {
    h1 { font-size: 3.5rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.25rem; }
    /* h5 { font-size: 1.25rem; }
    h6 { font-size: 1rem; } */
    p  { font-size: 1rem; }
  }

  /* Desktop (lg) */
  @media (min-width: 1280px) {
    h1 { font-size: 5rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.5rem; }
    /* h5 { font-size: 1.5rem; }
    h6 { font-size: 1.25rem; } */
    p  { font-size: 1rem; }
  }
}
