<footer>
    <div class="footer-content">
        <h3>Lets collaborate</h3>
        <p>Interested in working together? I’d love to chat! ☕ </p>
    </div>
    <button class="button btn--footer" id="footer-btn" aria-label="Contact Button">
        Lets chat
    </button>
</footer>