---
import { Button, buttonVariants } from '../ui/button.tsx';
---

<footer>
    <div id="footer-content">
        <h3 class="text-(--on-surface)">Lets collaborate</h3>
        <p class="text-(--on-surface-variant)">Interested in working together? I’d love to chat! ☕ </p>
    </div>
    <Button variant="default">Lets chat</Button>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: space-between;
        width: 100%;
        padding: var(--spacing-lg);
        background-color: var(--surface-container);
        border-radius: var(--radius);
        text-align: left;
        gap: var(--spacing-md);
    }

    #footer-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
    }

    h3 {
        color: var(--on-surface);
    }

    p {
        color: var(--on-surface-variant);
    }

    @media (min-width: 800px) {
        footer {
            flex-direction: row;
            align-items: center;
            padding: var(--spacing-2xl);
            gap: var(--spacing-lg);
        }
    }
</style>