---
import '../styles/global.css';
import PageLayout from '../layouts/PageLayout.astro';
import PageSection from '../components/page/PageSection.astro';

// Component Imports
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<PageLayout>
	<div class="w-full" slot="header" id="hero">
		<h1 class="text-on-surface">Hi I'm Tina</h1>
		<p class="text-on-surface-variant text-2xl">I'm a designer...</p>
	</div>

	<PageSection id="featured">
		<h2 slot="header" class="text-on-surface">Featured</h2>
		<div class="card-grid">
			<Card>
				<CardHeader>
					<CardTitle>
						Project Title
					</CardTitle>
					<CardDescription>
						Brief description of the project goes here.
					</CardDescription>
				</CardHeader>
			</Card>
		</div>
	</PageSection>

	<PageSection id="testimonials">
		<h2 slot="header" class="text-on-surface">Testimonials</h2>
		<!-- carousel -->
	</PageSection>
</PageLayout>

