---
import 'src/styles/global.css';
import PageLayout from '@/layouts/PageLayout.astro';
import PageHeader from '@/components/page/PageHeader.astro';
import PageSection from '@/components/page/PageSection.astro';

// Component Imports
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

---

<PageLayout>
	<PageHeader slot="header">
		<h1 slot="title" class="text-on-surface">My projects</h1>
		<p slot="subtitle" class="text-xl text-on-surface-variant">Bringing ideas to life and driving business impact through human-centered solutions.</p>
	</PageHeader>

	<PageSection id="projects">
		<div class="card-grid">
			<Card>
				<CardHeader>
					<CardTitle>
						Project Title
					</CardTitle>
					<CardDescription>
						Brief description of the project goes here.
					</CardDescription>
				</CardHeader>
			</Card>
		</div>
	</PageSection>
</PageLayout>