---
import ProjectLayout from "@/layouts/ProjectLayout.astro";
import PageSection from "@/components/page/PageSection.astro";
---

<ProjectLayout
    title="Mesh"
    description="A 3D modeling and animation software project."
    heroImage="/images/projects/mesh/hero.png">
    <PageSection>
        <h2 slot="header">Problem</h2>
        <p slot="body">Early tech talent are not getting traction through traditional job application methods. The roles early PM, designer, and developers apply for often have 100+ applications. Eventually, most receive a templated rejection email. This problem is close to our hearts as everyone in our team has persevered through this challenge. We created Mesh to help tech talent explore a more effective approach to launch their careers.</p>
    </PageSection>

</ProjectLayout>