<section>
    <slot name="header"/>
    <slot name="body" />
    <slot />
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--spacing-md);
    }

    @media (min-width: 800px) and (max-width: 1279px) {
        section {
            gap: var(--spacing-lg);
        }
    }

    @media (min-width: 1280px) {
        section {
            gap: var(--spacing-xl);
        }
    }
</style>