---
import NavLink from '@/components/navigation/NavLink.astro';
import '../styles/global.css';

const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
		rel="stylesheet"
		/>
	</head>
	<!-- Navigation -->

	<div class="drawer lg:drawer-open">
		<input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
		<div class="drawer-content flex flex-col items-center justify-start">
			<!-- Page content here -->
			 	<body>
					<main class="w-full">
						<slot />
					</main>
				</body>

			<label for="my-drawer-3" class="btn drawer-button lg:hidden">
			Open drawer
			</label>
		</div>
		<div class="drawer-side">
			<label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
			<ul class="fixed top-4 bottom-4 menu bg-surface-container-high rounded-2xl max-h-screen w-80 gap-2">
			<!-- Sidebar content here -->
				<!-- logo -->
				<div class="flex flex-row justify-between items-center w-full px-4 py-4">
					<img src="/tcai.svg" alt="logo" class="w-18 h-auto" />
				</div>
				<hr class="solid border-outline-variant border-t-[0.5px]">
				<!-- top section -->
				<div class="flex flex-col justify-start px-2 py-4 gap-1">
					<li>
						<NavLink href="/" label="Home" icon="bx:home" active></NavLink>
					</li>
					<li>
						<NavLink href="/projects" label="Projects" icon="bx:rocket"></NavLink>
					</li>
					<li>
						<NavLink href="/about" label="About" icon="bx:smile"></NavLink>
					</li>
					<li>
						<NavLink href="/blogs" label="Blogs" icon="bx:chat"></NavLink>
					</li>
				</div>
				<hr class="solid border-outline-variant border-t-[0.5px]">
				<!-- bottom section -->
				<div class="flex flex-col justify-start px-2 py-4 gap-1">
					
						<NavLink href="/" label="Resume" icon="bx:file"></NavLink>
					</li>
					<li>
						<NavLink href="/" label="Email" icon=""></NavLink>
					</li>
					<li>
						<NavLink href="/" label="LinkedIn" icon=""></NavLink>
					</li>
					<li>
						<NavLink href="/" label="GitHub" icon=""></NavLink>
					</li>
				</div>
			</ul>
		</div>
	</div>
</html>

<style>
	main {
		padding-left: 336px;
		justify-items: center;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: var(--spacing-md);
		background-color: var(--surface);
	}

	a {
		color: var(--on-surface);
	}

	@media (max-width: 1279px) {
		body, main {
			padding-left: 0;
		}
	}
</style>