---
import BaseLayout from "./BaseLayout.astro";
import Footer from "../components/navigation/Footer.astro";

---

<BaseLayout>
    <section class="page-content">
        <slot />
    </section>

    <Footer />
</BaseLayout>