---
import BaseLayout from "./BaseLayout.astro";
import Footer from "../components/navigation/Footer.astro";
---

<BaseLayout>
    <div id="main-content">
        <slot name="header"/>
        <div id="page-body">
            <slot />
            <Footer />
        </div>
    </div>
</BaseLayout>

<style>
	#main-content {
		width: 100%;
		display: flex;
        max-width: 1800px;
		flex-direction: column;
        align-items: center;
        justify-content: center;
	}

    #page-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1400px;
        padding: var(--spacing-3xl) var(--spacing-md);
        gap: var(--spacing-3xl);
    }

	@media (min-width: 800px) and (max-width: 1279px) {
        #page-body {
            padding: var(--spacing-4xl) var(--spacing-2xl);
            gap: var(--spacing-4xl);
        }
    }

    @media (min-width: 1280px) {
        #page-body {
            padding: var(--spacing-5xl) var(--spacing-3xl);
            gap: var(--spacing-5xl);
        }
    }
</style>